<!-- app/views/users/index.html.erb -->
<html>
  <head>
    <%= stylesheet_link_tag 'users_styles' %>
  </head>
  <body>
    <h1>All Users</h1>

    <div class="container-users">
      <% @users.each do |user| %>
        <div class="user-info">
          <img src="" class="img-user">
          <ul class="ul-users">
            <li><%= link_to user.name, user_path(user) %></li>
            <li>Number of posts: <%= link_to user.post_counter %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </body>
</html>

