<%  UsersHelper %>

<html>
  <head>
    <%= stylesheet_link_tag 'users_styles' %>
  </head>
  <body>



  <h2 class="users-available">Users available</h2>

  <%= render_flash_messages %>
  



  <%= render 'users_display' %>

  

  </body>
</html>

    

