<div class="container-user">
<img src= "<%= user.photo %>" class="img-user" alt="user.photo">
<ul class="ul-user">
  <li>User Name: <%= @user.name %></li>
  <li>User Posts: <%= @user.post_counter %></li>
</ul>
</div>