<div class="users-posts">
<% @user.recent_posts.each do |post| %> 
    <div class="post">
      <h4> <%= post.Title %></h4>
      <p><%= post.Text %></p>
      <%= render_text_user_section(post.user, post) %>
    </div>
  <% end %>
</div