

.container-user {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 2%;
    
  }

  .img-user-s {
    width: 100px;
    border-radius: 10%  solid black;
    object-fit: cover;
    margin-bottom: 10px;
    height: 7rem;
  }
  .ul-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    width: 90%;
    height: 7rem;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .ul-user li {
    margin-right: 10px;
    margin-right: 5%;
  }

  .user-bio{
    display: flex;
    flex-direction: column;
    
    
    max-width: 90%; 
    margin: 3% auto ;
    padding: 2%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .users-posts{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .post{
    display: flex;
    flex-direction: column;
    
    margin: 3% auto ;
    padding: 2%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 90%; 
  }

  .text{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
 
  }

  .comment-text{
    margin-right: 2%;
  }