.container-user {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 2%;
    
  }
  
  .img-user-s {
    width: 100px;
    border-radius: 10%  solid black;
    object-fit: cover;
    margin-bottom: 10px;
    height: 7rem;
  }
  .ul-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    width: 84%;
    height: 7rem;
    border: 1px solid black;
  }
  
  .ul-user li {
    margin-right: 10px;
    margin-right: 5%;
  }

  /* posts */
  .users-posts{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .post{
    display: flex;
    flex-direction: column;
    margin-bottom: 0; 
    padding: 2%;
    border: 1px solid black;
    width: 90%; 
  }

  .text{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
 
  }

  .comment-text{
    margin-right: 2%;
  }

  .ul-comments-box{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 2%;
    border: 1px solid black;
    width: 90%;
  }

  .h4-section-comments{
    margin: 0 auto;
  }