.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: rgb(185, 201, 230);
  padding: 20px;
  border-radius: 10px;
}

.h3-form-post {
  color: rgb(6, 44, 102);
  margin-bottom: 20px;
}

.field{
  margin-bottom: 20px;
}

.form-group-post{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group-post input, textarea{
  margin-bottom: 20px;
  border-radius: 5px;
  width: 300px;
}

.form-group label {
  font-weight: bold;
  color: #333; 
  margin-bottom: 5px; 
}

.form-group{
  margin-bottom: 10px;
}

.form-group input:not(.exclude-style) {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for form control elements */
.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for error messages */
.error {
  color: red;
  margin-top: 5px;
}

.login-button, .sign-up-btn {
  background-color: #007bff; 
  color: #fff;
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
}

.login-button:hover, .sign-up-btn:hover {
  background-color: #0056b3; 
}


.input-photo {
 
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
 
}
