/* app/assets/stylesheets/users_styles.css */

h1 {
    color: blue;
    font-size: 24px;
  }
  
  ul {
    list-style-type: none;
  }
  
 
  .container-users {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-info {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    width: 80%;
  }
  
  .img-user {
    width: 100px;
    height: 100px;
    border-radius: 10%  solid black;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .ul-users {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 2%;
    margin: 0;
    width: 80%;
  }
  
  .ul-users li {
    margin-right: 10px;
  }

  
  /* .ul-users {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  } */